 

.lists {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-basis: 16%;
    margin: 2em;
    background-color: slategray;
    padding: 1em;
    }

    .listcard {
        flex-basis: 30%;  /* Make each child element the same width */
        border: 3px solid darkslateblue;
        background-color: lightskyblue ;
        margin: .1em .6em .1em .6em;
        padding: 3px;
        text-align: left;
        align-content: space-around; 
        font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
        
    }


.photobox {
    width: 100%;
} 

.country-img {
    width: 100%;
}

.names {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

li {
        list-style: none;
}