nav {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 10px;
}

.nav {
    /* flex-basis: 25%; */
    width: 15%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #6B8E23;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer {
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 0px 0px;
    padding: 3px;
}

.social-icon {
    width: 100%
}
.social {
    width: 50px;
}

.current {

    background-color:grey;
}

#email {
    color: olivedrab; 
}